In [2]:
import pandas as pd
import os
import numpy as np

from sklearn.metrics import f1_score


import warnings
warnings.filterwarnings("ignore")

In [ ]:
#Target = Category --> Classification
#Struktur id= Year-Month-Day
sample = pd.read_csv("C:/Users/visco/Downloads/penyisihan-datavidia-10/sample_submission.csv")
sample.head()

                id  category
0  2025-09-01_DKI1       NaN
1  2025-09-01_DKI2       NaN
2  2025-09-01_DKI3       NaN
3  2025-09-01_DKI4       NaN
4  2025-09-01_DKI5       NaN

In [ ]:
#Car dataset kolom category
#misal
ispu_2024= pd.read