In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
print("Setup Done")

Setup Done

In [2]:
df= pd.read_csv("C:/Users/visco/Downloads/Titanic/train.csv")
bersih= df.dropna()
bersih.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [3]:
X= bersih.copy()
y= bersih.pop("Survived")

for colname in X.select_dtypes("object"):
    X[colname], _ = X[colname].factorize()
    
discrete_features = X.dtypes == int
print(discrete_features)

PassengerId     True
Survived        True
Pclass          True
Name            True
Sex             True
Age            False
SibSp           True
Parch           True
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [4]:
from sklearn.feature_selection import mutual_info_classif

def  make_mi_scores(X, y, discrete_features):
    mi_scores= mutual_info_classif(X, y, discrete_features= discrete_features)
    mi_scores= pd.Series(mi_scores, name= "MI SCORES", index= X.columns)
    mi_scores= mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X,y, discrete_features)
mi_scores[::3]

c:\Users\visco\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:49: UserWarning: The number of unique classes is greater than 50% of the number of samples. `y` could represent a regression problem, not a classification problem.
  type_label = type_of_target(labels_true)
c:\Users\visco\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:49: UserWarning: The number of unique classes is greater than 50% of the number of samples. `y` could represent a regression problem, not a classification problem.
  type_label = type_of_target(labels_true)

PassengerId    0.632659
Ticket         0.494297
Age            0.082209
SibSp          0.008053
Name: MI SCORES, dtype: float64