In [ ]:
#main module
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
#Transformasi Box
from scipy import stats

#min-max scalling
from mlxtend.preprocessing import minmax_scaling

#plotting module
import seaborn as sns
import matplotlib.pyplot as plt

:

In [ ]:
train_data= pd.read_csv("C:/Users/visco/Downloads/titanic/train.csv")

In [10]:
data_bersih = train_data
# data_bersih.head()

total_kosong_bersih= data_bersih.isnull().sum()
total_kosong_bersih

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
y= data_bersih.Survived
data_bersih['Sex'] = le.fit_transform(data_bersih['Sex'])
data_bersih['Cabin'] = data_bersih['Cabin'].str[0]
data_bersih['Cabin'] = le.fit_transform(data_bersih['Cabin'])
data_bersih['Embarked'] = le.fit_transform(data_bersih['Embarked'])
analysis = ['Sex', 'Age', 'Cabin', 'SibSp', 'Pclass', 'Fare', 'Embarked']
X= data_bersih[analysis]

In [9]:
train_X, val_X, train_y, val_y = train_test_split(X, y,test_size=0.2, random_state=1)

model_titanic= RandomForestClassifier(max_leaf_nodes=11,max_depth=6,random_state=1)
model_titanic.fit(train_X, train_y)

val_prediction= model_titanic.predict(val_X)
keakuratan= accuracy_score(val_y, val_prediction)
print(keakuratan)

0.7027027027027027

In [12]:
test_data= pd.read_csv("C:/Users/visco/Downloads/titanic/test.csv")

test_data['Sex'] = le.fit_transform(test_data['Sex'])
test_data['Age']= test_data['Age'].fillna(test_data['Age'].median())
test_data['Cabin']= test_data['Cabin'].fillna('Unknown')
test_data['Cabin']= test_data['Cabin'].str[0]
test_data['Cabin']= le.fit_transform(test_data['Cabin'])
test_data['Embarked']= test_data['Embarked'].fillna('S')
test_data['Embarked']= le.fit_transform(test_data['Embarked'])

X_test= test_data[analysis]

In [13]:
predict= model_titanic.predict(X_test)

In [263]:
output= pd.DataFrame({'PassengerId': test_data['PassengerId'], 'Survived': predict})

In [264]:
output.to_csv('Titanic_seadanya.csv', index= False)

In [227]:
test_data.head()

   PassengerId  Pclass  ... Embarked  Cabin_Encoded
0          892       3  ...        Q              7
1          893       3  ...        S              7
2          894       2  ...        Q              7
3          895       3  ...        S              7
4          896       3  ...        S              7

[5 rows x 12 columns]