In [49]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import mutual_info_regression

In [50]:
data= pd.read_csv('C:/Users/visco/Downloads/playground-series-s6e1/train.csv')
tdata= pd.read_csv('C:/Users/visco/Downloads/playground-series-s6e1/test.csv')

data.columns
data.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [51]:
#Missing Value
data_hilang = data.isnull().sum()
print(data_hilang)

id                  0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [52]:
y= data['exam_score']
X= data.drop('id',axis=1)

In [53]:
for col in X:
    tipe= X[col].dtype
    print(f'{col} : {tipe}')

age : int64
gender : object
course : object
study_hours : float64
class_attendance : float64
internet_access : object
sleep_hours : float64
sleep_quality : object
study_method : object
facility_rating : object
exam_difficulty : object
exam_score : float64

In [54]:
#feature engineering
X['internet_access']= X['internet_access'].map({'yes': 1, 'no': 0}) 
X['sleep_quality']= X['sleep_quality'].map({'poor':0, 'average': 5, 'good':10})
X['facility_rating']= X['facility_rating'].map({'low':0, 'medium': 5, 'high':10})
X['exam_difficulty']= X['exam_difficulty'].map({'easy':0, 'moderate': 5, 'hard':10})

X=pd.get_dummies(X,columns= ['gender'])
X=pd.get_dummies(X, columns= ['course'])
X= pd.get_dummies(X, columns= ['study_method'])
fitur_diskrit= X.dtypes == int

In [ ]:
#mi score
def make_mi_scores(X,y,discreate_feature):
    mi_scores= mutual_info_regression(X,y,discrete_features=discreate_feature) #masukkan data feature importany
    mi_scores= pd.Series(mi_scores, name= 'MI Scores', index= X.columns)
    mi_scores= mi_scores.sort_values(ascending=False) #urutkan dari yang terbesar
    return mi_scores

mi_scores= make_mi_scores(X,y,fitur_diskrit)
mi_scores[::]