In [7]:
#Alur
#Setup
#Buka File
#Lihat data
#Tentukan X dan y
#Cek missing value
#Handle missing value
#Feature Engineering
#Buat Model
#Cari RMSE paling kecil
#fit model ke data test
#Finishing

In [20]:
#Setup
import pandas as pd
import numpy as np

from sklearn.metrics import root_mean_squared_error
from sklearn.model_selection import train_test_split
from catboost import CatBoostRegressor

print("Setup Done")

Setup Done

In [ ]:
#Import Data
data = pd.read_csv("C:/Users/visco/Downloads/playground-series-s6e1/train.csv")
tdata = pd.read_csv("C:/Users/visco/Downloads/playground-series-s6e1/test.csv")
print(data.shape)

(630000, 13)

In [ ]:
#Lihat data
data.head()

,id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,0,21,female,b.sc,7.91,98.8,no,4.9,average,online videos,low,easy,78.3
1,1,18,other,diploma,4.95,94.8,yes,4.7,poor,self-study,medium,moderate,46.7
2,2,20,female,b.sc,4.68,92.6,yes,5.8,poor,coaching,high,moderate,99.0
3,3,19,male,b.sc,2.00,49.5,yes,8.3,average,group study,high,moderate,63.9
4,4,23,male,bca,7.65,86.9,yes,9.6,good,self-study,high,easy,100.0

In [ ]:
#tentukan X dan y
y = data["exam_score"]
X = data.drop([,"id","exam_score"], axis = 1)

In [14]:
mis = data.isnull().sum()
mis[0:13]

id                  0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [23]:
#cari kolom kategorikal untuk model catboost

for col in data:
    if data[col].dtype == "object":
        print(col)

cat_col= [
    'gender',
    'course',
    'internet_access',
    'sleep_quality',
    'study_method',
    'facility_rating',
    'exam_difficulty'
]

gender
course
internet_access
sleep_quality
study_method
facility_rating
exam_difficulty

In [25]:
#buat model
model = CatBoostRegressor(
    iterations=1500, 
    learning_rate= 0.05,
    depth = 6,
    loss_function= 'RMSE',
    cat_features= cat_col,
    l2_leaf_reg= 5,
    subsample= 0.8)

In [ ]:
train_X, train_y, test_X, test_y =